<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>      
      <class name="com.StudentEnrollment.scripts.TestClassLanding"/> 
      <class name="com.StudentEnrollment.scripts.TestClassLogin"/>
      <class name="com.StudentEnrollment.scripts.TestClassCourse"/>    
      <class name="com.StudentEnrollment.scripts.TestClassStudents"/>            
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
